body {
    background-color: rgb(251, 206, 177);
    margin-left: 200px;
    margin-right: 200px;
}
#margin_left{
    margin-left: 200px;

}
#margin_right{
    text-align: right;
    margin-left: 200px;
}

#margin_leftright{
    margin-top: 50;
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    text-align: center;
    font-size: xxx-large;
 
}

h2 {
    margin-top: 200;
    text-align: center;
}

#text_div {

   
    margin-top: 50px;
    text-align: center;
    
}

